{% extends "fabryka/szablon.html" %}
{% block tytul %}Nowy Komentarz{% endblock %}
{% block naglowek %}Edytuj Komentarz:{% endblock %}
{% block zawartosc %}
            <form action="" method="post">
                Treść: <input type="text" name="tresc" placeholder={{komentarz.tresc}}>{{trescwarning}}<br>
                Ocena: <input type="number" name="ocena" placeholder={{komentarz.ocena}}>{{ocenawarning}}<br>
                <button>POST</button><br>
            </form>
            <thead>
                <tr>
                  <th>data</th>
                  <th>ocena</th>
                  <th>tresc</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>{{komentarz.data}}</td>
                    <td>{{komentarz.ocena}}</td>
                    <td>{{komentarz.tresc}}</td>
                  </a>
                  </tr>
              </tbody>
{% endblock %}
